  body { 
            background-image: linear-gradient(to bottom, #0ec4c4, #ccbac2);
        font-family: arial;
              }
    
        h1 { text-align: center;
           color: aqua; 
           font-style: italic;
           font-family: sans-serif;
              }
      
        img { height: 100px;
             width: 100px;
            }
                